.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  image {
    margin: 48rpx 40rpx;
    border-radius: 20rpx;
    width: calc(100% - 80rpx);
  }
  .button {
    background-color: #ffba19;
    color: #fff;
    border-radius: 40rpx;
    box-shadow: 0 8rpx 16rpx -4rpx #ffba1a60;
    padding: 20rpx 60rpx;
    font-size: 28rpx;
  }
}
