/**index.wxss**/
.container
  .carousel
    background-color: #799ed2
    width: 710rpx
    height: 375rpx
  #performance
    .article
      width: 710rpx
      height: 275rpx
      background-color: #b3c7e6
  #square
    .work
      background-color: #fff
      width: 710rpx
      height: 375rpx
      display: flex
      flex-direction: row
      justify-content: space-evenly
      align-items: center
      .work-image
        background-color: #2d5386
        width: 236rpx
        height: 300rpx
      .work-detail
        font-size: 14px
        height: 300rpx
        display: flex
        flex-direction: column
        justify-content: space-between
        .detail-info
          display: flex
          flex-direction: row
          justify-content: flex-start
          align-items: center
          .info-avatar
            width: 85rpx
            height: 85rpx
            border-radius: 50%
            background-color: #192e4d
            margin-right: 30rpx