/* miniprogram/pages/course/course.wxss */
.container
  background-color: #fafafa
  .noCourse
    font-size: 12px
    text-align: center
    padding: 40rpx
  .enrolled,.unregistered
    width: 670rpx
    margin-bottom: 16rpx
    .course
      width: 670rpx
      margin-top: 32rpx
      background-color: #fff
      border-radius: 20rpx
      box-shadow: 0 20rpx 40rpx -8rpx #00000010
      box-sizing: border-box
      padding: 32rpx
      display: flex
      flex-direction: row
      .course-image
        width: 160rpx
        height: 160rpx
        border-radius: 15rpx
        background-color: #b3c7e6
        margin-right: 32rpx
      .course-info
        height: 260rpx
        display: flex
        flex-direction: column
        justify-content: space-between
        .course-title
          font-size: 32rpx
          font-weight: bold
        .course-date
          font-size: 24rpx
          color: #999896
        .course-lecturer
          display: flex
          flex-direction: row
          align-items: center
          color: 24rpx
          .lecturer-avatar
            width: 64rpx
            height: 64rpx
            border-radius: 50%
            background-color: #192e4d
            margin-right: 16rpx
          .lecturer-info
            font-size: 24rpx
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 72rpx
            margin-right: 16rpx
        .course-progress
          background-color: #fff8e8
          border-radius: 24rpx
          width: 214rpx
          height: 40rpx
          font-size: 24rpx
          color: #F2AA00
          text-align: center
  .unregistered
      .course
        .course-info
          flex: 1
          height: 160rpx
        .course-subtitle
          color: #666564
          font-size: 28rpx
        .course-price
          font-size: 32rpx
          color: #FF5123
          font-weight: bold
          .small
            font-size: 24rpx
            display: inline
          .previous
            font-size: 24rpx
            color: #999896
            text-decoration: line-through
            display: inline
        .course-button
          align-self: flex-end
          background-color: #FFBA19
          border-radius: 24rpx
          font-size: 24rpx
          color: #ffffff
          padding: 6rpx 30rpx
          box-shadow: 0 8rpx 16rpx -4rpx #FFBA1A60
