/* miniprogram/pages/homeworkDetail/homeworkDetail.wxss */
.container
  color: #192e4d
  .section
    width: 710rpx
    .section-content
      display: flex
      width: 710rpx
      align-items: center
      .text
        font-size: 12px
        align-self: self-start
      .addHomeworkButton,.alertHomeworkButton
        background-color: #2d5386
        padding: 20rpx 60rpx
        font-size: 14px
        color: #fff
        border-radius: 15rpx
        margin: 20rpx
      .hint
        color: #799ed2
        font-size: 12px
    .uploaded
      background-color: #fff
      display: flex
      flex-direction: row
      flex-wrap: wrap
      padding: 20rpx 10rpx
      margin: 30rpx 0
      height: 480rpx
      image
        width: 210rpx
        height: 210rpx
        background-color: #799ed2
        margin: 10rpx 10rpx
  .footer
    position: fixed
    height: 140rpx
    background-color: #799ed2
    bottom: 0
    width: 100%
    left: 0


