/* miniprogram/pages/courseDetail/courseDetail.sass */
.container
  .poster
    width: 750rpx
    height: 2000rpx
    background-image: linear-gradient(#799ed2, #2d5186)
  .footer
    width: 100%
    background-color: #ffffff
    position: fixed
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    font-size: 28rpx
  .signUpButton
    .hint
      padding: 20rpx
      width: 750rpx
      text-align: center
      background-color: #f6dea6
      .highlight
        font-weight: bold
        font-size: 36rpx
        color: #FF5123
        display: inline
    .table-button
        height: 80rpx
        width: 320rpx
        line-height: 80rpx
        margin: 16rpx
        background-color: #FFBA19
        box-shadow: 0 8rpx 16rpx -4rpx #FFBA1A60
        font-size: 28rpx
        color: #fff
        font-weight: normal
        border-radius: 40rpx
  .signUpForm
    height: 33vh
    display: flex
    flex-direction: column
    align-items: center
    .form-title
      font-size: 18px
      font-weight: bold
    .form-input
      background-color: #fff
      border: 1px #192e4d solid
      border-radius: 5px
      text-align: center
      height: 30px
    .wrapper
      width: 70%
      display: flex
      flex-direction: row
      .confirmButton
        height: 30px
        background-color: #2d5386
        font-size: 13px
        line-height: 30px
        color: #fff
    .signUpButton
      background-color: #2d5386
      font-size: 14px
      height: 30px
      color: #fff
      width: 40vw
      line-height: 30px

    .close
      position: absolute
      right: 10px
      top: 4px
      font-size: 20px
      font-weight: bold
      padding: 20rpx
